body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-size-adjust: none;
}

h1 {
    color:white;
    font-size: 32px; /* 16px seems a bit too small... */
    border-bottom-width: thick;
    border-bottom-style: dotted;
    border-bottom-color: red;

}

a:hover {
    background-color: yellow;
  }

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: right;
  }

  .image1 {
    display: block;
    margin-left: auto;
}